:local(.header_row) {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:local(h2.ui.header) {
  margin: 0;
  > span {
    font-weight: normal;
  }
}

:global(.ui.divider):local(.divide) {
  margin: 0rem 0rem;
}

:global(.menu.transition.visible) {
  a {
    :hover {
      background-color: #0366d6;
    }
    :global(.item) {
      color: #24292e;
      :global(.text) {
        display: block;
        padding: 5px 10px;
      }
      :hover {
        color: #fff;
      }
    }
  }
}

:local(.issue_comment_wrapper) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

:local(.issue_comment_container) {
  width: calc(100% - 50px);
  box-shadow: 0 7px 16px 3px lightgrey;
  border-radius: 5px;
}

:local(.issue_comment_header) {
  display: flex;
  justify-content: space-between;
  background-color: #f1f8ff;
  padding: 0.7em 1.5em;
}

:local(.issue_comment_desc) {
  padding: 1em 1.5em;
}

:local(.commentEditor) {
  margin-left: 0.7em;
  margin-bottom: 0.5em;
}

:local(.mde) {
  flex: 1;
}

:local(.comment_author_name) {
  font-weight: bold;
  span {
    font-weight: normal;
  }
}

:local(.comment_author_avatar) {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

:local(.questionLink) {
  display: inline-block;
  width: calc(100% - 50px);
  border-radius: 5px;
  :global(.ui.icon.message) {
    flex-direction: row-reverse;
    :global(.content) {
      color: #777;
      :global(.header) {
        margin-bottom: 0.5em;
        color: #444;
      }
    }
  }
}

:local(.questionWrapper) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

:local(.questionAvatar) {
  width: 40px;
  height: 40px;
}

:local(.checkCircleButton) {
  color: #28a745;
  width: 32px;
  height: 32px;
}
