:global(.orgUserPreview-small) {
  width: 35px;
  height: 35px;
}
:global(.orgUserPreview-medium) {
  width: 48px;
  height: 48px;
}
:global(.orgUserPreview-micro) {
  width: 20px;
  height: 20px;
}

:local(.orgUserItem) {
  margin-right: 0.5em;
}
