#
# DEVELOPMENT PORT
#

SKIP_PREFLIGHT_CHECK=true

# PORT - default. has to be changed if it is different
PORT = 3001

# REACT_APP_SERVER_URL - default. has to be changed if it is different
REACT_APP_SERVER_URL = "http://localhost:3000"
