$primary-color: #586069;
$secondary-color: #d1d5da;
$gray: #f7f7fb;

:local(.repo_name) {
  font-size: 110%;

  &:hover {
    text-decoration: underline;
  }
}

:local(.repo_owner) {
  font-weight: normal;
}

:local(.repo_item) {
  width: 100%;
  min-height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em 0;
  border-bottom: 1px solid $secondary-color;
  border-radius: 3px;

  & div {
    display: flex;
  }

  & a {
    flex: 1 1 auto;
  }
}
:local(.repo_item_left),
:local(.repo_item_right) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
:local(.repo_item_left) {
  color: #586069;
}
:local(.repo_item_right) {
  align-items: flex-end;
}

:local(.repo_info_item) {
  margin-right: 1em;
}

:local(.repo_item_updated) {
  /*margin: 8px 0 16px;*/
  font-size: 75%;
}

:local(.repo_item_lang) {
  font-size: 75%;
  line-height: 1.5;

  & span {
    position: relative;
    top: 2px;
    width: 12px;
    height: 12px;
    margin-right: 4px;
    display: inline-block;
    border-radius: 50%;
    background-color: #f1e05a;
  }
}

:global(.ui.button):local(.repo_item_stars) {
  display: inline-block;
  font-size: 75%;
  line-height: 20px;

  background-color: $gray;
  color: #24292e;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;

  & .star_icon {
    margin-right: 5px;
  }

  &:global(.compact) {
    padding: 3px 10px;
  }
}

@media (max-width: 1024px) {
  :global(.thirteen.wide.column):local(.contribution_years) {
    width: 100%;
  }
}
