:global(.ui.bottom.attached.segment.active.tab) {
  padding: 0;
}

.fileNameInput {
  margin-right: 10px;
}

:global(.ui.massive.breadcrumb) {
  margin-bottom: 10px;
}

.text-editor {
  width: 100%;
  height: 400px;
}
