$primary-color: #586069;
$secondary-color: #d1d5da;

:global(.ui.container):local(.org_repositories_list),
:global(.ui.container):local(.org_repositories_filters) {
  width: 1000px;
  max-width: 1000px;
  padding-top: 5px;
}

:local(.org_repositories_filters):global(.ui.container [class*='repos_filters']) {
  justify-content: start;

  :global([class*='repos_search_input']) {
    width: 18%;
  }
  > div {
    margin-right: 20px;
  }
}
