$primary-color: #586069;
$secondary-color: #d1d5da;
$blue: #2e53db;

$md: 768px;
$sm: 576px;

:local(.wrapper) {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
}

:global(.ui.container):local(.repo_header) {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
    font-weight: 400;
  }

  a {
    color: $primary-color;
  }
}

:global(.ui.container):local(.favorite_repos_wrapper) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  :local(.repos_search_input) {
    width: 55%;
    font-size: 87.5%;
    min-height: 34px;
    padding: 16px 0;

    & input {
      border: 1px solid #d1d5da;
      border-radius: 3px;
      box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
      color: #24292e;
      line-height: 20px;
      min-height: 34px;
      outline: none;
      padding: 6px 8px;
      vertical-align: middle;
    }
  }

  :local(.repos_filters) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #d1d5da;
  }

  :local(.repos_filters_dropdown) {
    display: inline-block;
    min-height: 2em;
    margin: 1em 0;
    background-color: #e9ecef;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.35);
    box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
    color: #24292e;

    &::placeholder {
      color: #24292e;
      font-weight: bold;
    }
  }

  .menu.transition {
    width: 100px;
  }
}

:local(.new_repo) {
  font-size: inherit !important;
  color: #fff;
  margin-right: 0 !important;

  svg {
    margin-right: 3px;
    color: inherit;
  }
}

@media (max-width: 1024px) {
  :global(.thirteen.wide.column):local(.contribution_years) {
    width: 100%;
  }
}

:local(.filters) {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $md) {
    justify-content: space-between;
  }
}

:local(.filters_item) {
  margin-right: 1em;

  &:first-child {
    flex-grow: 1;
  }

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $md) {
    margin-right: 0.2em;

    &:first-child {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1em;
    }

    &:last-child {
      margin-left: auto;
      margin-right: 0;
    }
  }

  @media (max-width: $sm) {
    &:last-child {
      margin-left: 0;
    }
  }
}

:local(.repos_search_input) {
  width: 100%;
}
