:global(.ui.bottom.attached.segment.active.tab) {
  padding: 0;
}

.fileNameInput {
  margin-right: 10px;
}

:global(.ui.big.breadcrumb) {
  margin-bottom: 10px;
}

.markdownContainer {
  padding: 20px;
}
