:global(.main-wrapper) {
  min-height: 100%;
  margin: 0;
  padding: 0;
  &:global(.auth-wrapper) {
    height: 100%;
  }
  > :global(.content) {
    height: 100%;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
  }
  > :global(.ui.container) {
    grid-row-start: 2;
    grid-row-end: 3;

    > :global(.ui.centered.grid) {
      margin: 0;
    }
  }
}
