$primary-color: #586069;
$secondary-color: #d1d5da;

:local(.wrapper) {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
}

:global(.ui.container):local(.repo_header) {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
    font-weight: 400;
  }

  a {
    color: $primary-color;
  }
}

:global(.ui.container):local(.favorite_repos_wrapper) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  :global(.thirteen.wide.column):local(.contribution_years) {
    width: 100%;
  }
}
