:global(div.ui.bottom.attached.active.tab) {
  width: 100%;
  margin-bottom: 0;
}

:local(div.branchMenu):global(.menu) {
  margin-top: 1em;
}

:local(.branchMenuItem) {
  padding: 5px 15px;
  width: 7em;
  text-align: center;
  justify-content: center;
}

// :local(.ui.bottom.attached a.item) {
//   padding: 5px 15px;
//   width: 7em;
//   text-align: center;
//   justify-content: center;
// }

// :global(.ui.branch-menu.menu:first-child) {
//   margin-top: 1em;
// }

// :global(.ui.menu .active.item.branch-menu-item) {
//   background-color: #0366d6;
//   color: #fff;
// }

// :global(.ui .menu.right .item) {
//   width: 100%;
// }
