$primary-color: #586069;
$secondary-color: #d1d5da;
$md: 768px;

:local(.userInfo) {
  h1 {
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.7em;
    font-weight: 400;
  }

  .fullname {
    font-weight: 700;
  }

  @media (max-width: $md) {
    display: flex;

    h1 {
      margin-bottom: 0.5em !important;
    }
  }
}

:local(.avatar_wrapper) {
  @media (max-width: $md) {
    width: 25%;
    margin-right: 1.5em;
  }

  img {
    display: block;
    width: 100%;
    max-width: 280px;
  }
}

:local(.set_status) {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5em;
  color: $primary-color;
  border: 1px solid $secondary-color;
  border-top-color: transparent;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  svg {
    margin-right: 5px;
  }

  @media (max-width: $md) {
    order: 1;
    border-top-color: $secondary-color;
  }
}

:local(.userDetails) {
  @media (max-width: $md) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

:local(.edit_profile) {
  @media (max-width: $md) {
    display: none;
  }
}

:global(.ui.button):local(.editButton) {
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  border: 1px solid rgba(27, 31, 35, 0.2);
  color: #24292e;
  &:hover {
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    background-position: -0.5em;
    border-color: rgba(27, 31, 35, 0.35);
  }
  &:active {
    background-color: #e9ecef;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.35);
    box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
  }
}
