#
# APPLICATION
#

# default. own preference might be used
APP_PORT = 3000

#
# PostgreSQL DATABASE Config
#
# DB_NAME - default. has to be changed to local DB name if it is different
# DB_USERNAME - default. has to be changed to local PostgreSQL username if it is different
# DB_PASSWORD - default. has to be changed to local PostgreSQL password if it is different
# DB_HOST - default. has to be changed to local used host if it is different
# DB_PORT - default. has to be changed to local used port if it is different
# DB_DIALECT - default. do not change
DB_NAME = depot
DB_USERNAME = postgres
DB_PASSWORD = postgres
DB_HOST = localhost
DB_PORT = 5432
DB_DIALECT = postgres

#
# Google auth Config
#
# GOOGLE_CLIENT_ID - need to be changed
# GOOGLE_CLIENT_SECRET - need to be changed
# GOOGLE_CALLBACK_URL - need to be changed
# GOOGLE_SCOPE - need to be changed
GOOGLE_CLIENT_ID = 0
GOOGLE_CLIENT_SECRET = 0
GOOGLE_CALLBACK_URL = 0
GOOGLE_SCOPE = 0

#
# AWS Email service
#
# AWS_SES_ACCESS_KEY - need to be changed
# AWS_SES_SECRET_KEY - need to be changed
# AWS_SES_REGION - need to be changed
AWS_SES_ACCESS_KEY = 0
AWS_SES_SECRET_KEY = 0
AWS_SES_REGION = 0

#
# Git config
# GIT_PATH - need to be changed. Point where you want to save repositories
GIT_PATH = 0

#
# AUTHENTICATION
#
# SECRET_KEY has to be changed to own random secret key
SECRET_KEY = secretkey

#
# Host's public key path
#
PUBLIC_KEY_PATH = '/etc/ssh/ssh_host_rsa_key.pub'
