:local(.note) {
  font-size: 85%;
  color: rgba(0, 0, 0, 0.7);
}

:local(.error) {
  font-size: 85%;
  color: rgba(255, 0, 0, 0.7);
}

:local(.field_title) {
  margin-bottom: 0.4rem !important;

  &::after {
    content: '*';
    color: #cb2431;
    margin-left: 0.35rem;
  }
}
