:local(.no_padding) {
  padding: 0;
}

:local(.img_edit_btn) {
  position: relative;
  bottom: 0.5rem;
  left: 0.5rem;
  transform: translateY(-100%);
}

:local(.dropdown) {
  margin-top: 0.6rem !important;
  left: -0.5rem !important;
}

:local(.textarea) {
  min-height: 75px;
  max-height: 200px;
}

:local(.note) {
  font-size: 0.85rem;
  color: rgba(0, 0, 0, 0.7);
}
