:global(.ui.divided.middle.aligned.list) {
  margin-top: 0;

  :local(.branchesList div.listItem) {
    padding-top: 0;
  }
}

:local(.branchLink) {
  color: #0366d6;
  background-color: #eaf5ff;
  padding: 0.25em 0.75em;
  margin: 0.25em 0.5em;
  border-radius: 0.4em;
}

:local(.PRIcon) {
  width: 0.75em;
}

:local(.pullRequestNumber) {
  margin-right: 0.75em;
}

.prIcon {
  margin-right: 5px;
}

:global(.ui.button):local(.newPrButton) {
  margin-right: 0;
}

:local(.listItemGroup) {
  padding-top: 0.5em;
}
