:local(.copyable) {
  position: relative;
  background-color: #f6f8fa;
  border-radius: 3px;
  padding: 10px 55px 10px 10px;
  position: relative;
}

:local(.clipboardButton) {
  position: absolute;
  right: 5px;
  top: 5px;
}
