:local(.box) {
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
}

:local(.boxSectionHeader) {
  background-color: #f1f8ff;
  border-color: #c8e1ff;
  border: 1px solid #d1d5da;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: -1px -1px 0;
  padding: 24px;
}

:local(.boxSection) {
  padding: 24px;
  border-top: 1px solid #e1e4e8;
  margin-top: -1px;

  &:first-of-type {
    border-top-color: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}

:local(.urlGroup) {
  display: flex;
}

:local(.clipboardInput) {
  display: inline-block;
  flex-grow: 1;
  font-size: 12px;
  line-height: 20px;
  min-height: 28px;
  padding: 6px 8px;
  border: 1px solid #d1d5da;
  background-color: #fff;
}

:local(.protip) {
  margin-top: 20px;
  text-align: center;
}
