:global(.fork-item) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  &:global(.current) {
    > :local(span) {
      background-color: #fff5b1;
    }
  }

  > :global(.ui.mini.spaced.image) {
    margin: 0;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.3em;
  }
  > :local(span) {
    > :local(a) {
      margin-right: 0.3em;
      &:not(:first-child) {
        margin-left: 0.3em;
      }
    }
  }

  &:not(:first-child) {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 3px;
      left: 7px;
      width: 12px;
      height: 12px;
      margin-right: 5px;
      border-left: 1px dotted #555;
      border-bottom: 1px dotted #555;
    }
  }
}
:global(.child-fork-list) {
  padding: 0.3em 0 0.3em 1.5em;
  > :global(.fork-item) {
    position: relative;
    &:global(.current) {
      > :local(span) {
        background-color: #fff5b1;
      }
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -17px;
      width: 12px;
      height: 12px;
      margin-right: 5px;
      border-left: 1px dotted #555;
      border-bottom: 1px dotted #555;
    }
  }
}

:local(.popup-body) {
  padding: 0.5em;
}
