.header {
  margin-top: 1em;
  margin-bottom: 0.5em;

  h1 {
    margin-bottom: 0.2em;
  }

  h5 {
    margin-top: 0.2em;
  }
}

.diffInfo {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    margin-bottom: 10px;
  }
}
