$gray: #f7f7fb;

:global(.ui.block.top.attached.header):local(.readmeHeader) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $gray;

  div:first-child {
    :global(.octicon) {
      margin-right: 5px;
    }
  }
}

.editReadme {
  color: rgba(0, 0, 0, 0.87);
  opacity: 0.8;
  transition: opacity 0.1s ease;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.markdownContainer > * {
  word-wrap: break-word;
  white-space: pre-wrap;
  > code {
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}

.markdownContainer img {
  max-width: 100%;
}
