:global(.ui.grid.forgot-grid) {
  height: 100vh;
  margin-top: 100px;
}
:global(.ui.center.aligned.header.forgot-header) {
  position: relative;
}
:global(.ui.form .field) {
  > label {
    text-align: left;
  }
}
