$primary-color: #586069;
$secondary-color: #d1d5da;

:export {
  activity_lvl1: #eeeeee;
  activity_lvl2: #d6e685;
  activity_lvl3: #8cc665;
  activity_lvl4: #44a340;
  activity_lvl5: #1e6823;
}

:global(svg.octicon) {
  margin-right: 0;
  color: $primary-color;
}

:global(.ui.container):local(.pinned_header) {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }

  a {
    color: $primary-color;
  }
}

:global(.ui.container):local(.favorite_repos_wrapper) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  :local(.pinned_item) {
    width: 48%;
    min-height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 16px;
    border: 1px solid $secondary-color;
    border-radius: 3px;

    & div {
      display: flex;
    }

    :local(.card_icon) {
      margin-right: 5px;
    }

    :local(.card_icon_grab) {
      cursor: grab;
    }

    & a {
      flex: 1 1 auto;
      font-weight: bold;
      color: #0366d6;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  :local(.pinned_item_desc) {
    margin: 8px 0 16px;
    font-size: 12px;
  }

  :local(.pinned_item_lang) {
    font-size: 12px;
    line-height: 1.5;

    & span {
      position: relative;
      top: 2px;
      width: 12px;
      height: 12px;
      margin-right: 4px;
      display: inline-block;
      border-radius: 50%;
      background-color: #f1e05a;
    }
  }
}

:global(.ui.dropdown):local(.dropdown_header) {
  min-width: 152px;
}

:global(.calendar) {
  position: relative;
  width: 107%;
  left: -18px;
  font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif;
}

:global(.calendar-wrapper) {
  margin-top: 10px;
  padding: 16px;
  border: 1px solid $secondary-color;
  border-radius: 3px 3px 0 0;

  :global(.calendar) {
    :global(.month) {
      font-size: 10px;
      color: #767676;
    }
    :global(.week) {
      font-size: 10px;
      color: #767676;
    }
  }
}

:local(.contribution_activity) {
  position: relative;

  &:before {
    display: block;
    content: '';
    width: 2px;
    bottom: 0;
    left: 15px;
    position: absolute;
    top: 0;
    background-color: $secondary-color;
    z-index: -1;
  }

  &:after {
    background-color: $secondary-color;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 12px;
    z-index: -1;
  }

  h3 {
    display: inline-block;
    padding: 4px 8px 4px;
    font-size: 12px;
    background-color: #fff;
  }

  :local(.contribution_activity_desc) {
    margin-left: 16px;
    padding: 24px 0 24px 24px;

    :global(.title) {
      display: flex;
      justify-content: space-between;

      p {
        margin: 0;
      }
    }

    :local(.contribution_activity_icon) {
      background-color: #e6ebf1;
      border: 2px solid #fff;
      border-radius: 50%;
      color: $primary-color;
      float: left;
      height: 32px;
      line-height: 28px;
      margin-left: -40px;
      text-align: center;
      width: 32px;
    }

    :global(.content) {
      :local(.activity_link) {
        display: block;
      }
    }
  }
}

:local(.load_more_activity) {
  width: 100%;
  display: inline-block;
  padding: 12px;
  color: #0366d6;
  font-size: 12px;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid $secondary-color;
  border-radius: 3px;
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: #f6f8fa;
  }
}

:global(.three.wide.column) {
  :local(.contribution_year) {
    display: block;
    margin-bottom: 5px;
    padding: 8px 16px;
    color: $primary-color;
    font-size: 12px;
    border-radius: 3px;

    &:hover {
      background-color: $secondary-color;
    }
  }

  :local(.contribution_year__active) {
    display: block;
    margin-bottom: 5px;
    padding: 8px 16px;
    color: #fff;
    background-color: #0366d6;
    font-size: 12px;
    border-radius: 3px;
  }

  :local(.contribution_year_list) {
    width: 100%;
    position: sticky;
    top: 54px;

    :local(.contribution_year__active) {
      display: block;
      margin-bottom: 5px;
      padding: 8px 16px;
      color: #fff;
      background-color: #0366d6;
      font-size: 12px;
      border-radius: 3px;
    }
  }
}

@media (max-width: 1024px) {
  :global(.thirteen.wide.column):local(.contribution_years) {
    width: 100%;
  }
}
