$black-color: #24292e;

:local(.headerWrp) {
  background-color: $black-color;
  padding: 20px 0;
  ul {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    li {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-right: 24px;
      }
      &:not(:first-child) {
        @media screen and (max-width: 1200px) {
          display: none;
        }
      }
      svg {
        color: #fff;
        fill: currentColor;
      }
      a,
      p {
        color: #fff;
        font-size: 16px;
        margin: 0;
      }
      p svg {
        width: 18px;
        margin-left: 5px;
        stroke: hsla(0, 0%, 100%, 0.5);
      }
      .dropDown {
        display: none !important;
        position: absolute;
        width: 300px !important;
        top: 25px;
        z-index: 999;
        padding: 8px;
        div {
          color: #586069 !important;
          font-size: 16px !important;
          a {
            color: #586069;
          }
        }
      }
      &:hover {
        .dropDown {
          display: block !important;
        }
      }
    }
  }
}

:local(.form) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  @media screen and (max-width: 1200px) {
    input,
    a:nth-child(2) {
      display: none !important;
    }
  }
  input {
    margin-right: 16px;
    width: 200px;
    padding: 10px;
    border: none;
    opacity: 0.3;
    border-radius: 3px;
    &:focus {
      opacity: 1;
    }
    &::placeholder {
      color: $black-color;
    }
  }
  a {
    font-size: 16px;
    padding: 10px;
    color: #fff;
    &:not(:last-child) {
      margin-right: 16px;
    }
    &:nth-child(3) {
      border: 1px solid #fff;
      border-radius: 3px;
    }
  }
}

:local(.burger) {
  fill: #fff;
  @media screen and (min-width: 1200px) {
    display: none !important;
  }
}

:local(.sidebar) {
  background-color: #fff !important;
  font-size: 16px !important;
  div {
    text-align: left;
    text-align-last: left;
    color: #444d56 !important;
    &::before {
      background: grey !important;
    }
    a {
      color: #444d56 !important;
      font-size: 16px !important;
    }
    i {
      float: right !important;
    }
  }
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid gray;
    border-radius: 3px;
  }
  .sidebarForm {
    margin-top: 20px;
    div {
      display: flex;
      justify-content: center;
    }
    a {
      padding: 4px 8px;
      &:last-child {
        border: 1px solid gray;
        border-radius: 3px;
        margin-left: 10px;
      }
    }
    &::before {
      display: none;
    }
  }
}
