:global(.ui.button):local(.copyButton) {
  margin-right: 0;
}

:global(.ui.segments):local(.fileViewContainer) {
  margin-top: 0;
}

:global(.ui.segment):local(.fileView) {
  padding: 0;
}

:global(.ui.segment):local(.fileViewHeader) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filePathRow {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  :global(.ui.breadcrumb):local(.filePath) {
    margin: 0;
  }
}

.fileInfo {
  display: flex;

  .lineCount {
    margin-right: 15px;
  }
}

.fileControls {
  :global(.icon.pencil) {
    margin-right: 10px;
  }
}

.markdownContainer {
  padding: 20px;
}
