:global(.ui.grid.signup-grid) {
  margin-top: 80px;
}

:global(.ui.pointing.label.signup-pointing-label) {
  margin: 0;
}

:global(.check.icon.icon-green) {
  color: #60b044;
}

:global(.check.icon.icon-hidden) {
  display: none;
}

:global(.ui.error.message) {
  text-align: center;
}
