:global(.ui.grid.signup-grid) {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  :global(.ui.center.aligned.header) {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
}

:global(.ui.pointing.label.signup-pointing-label) {
  margin: 0;
}

:global(.check.icon.icon-green) {
  color: #60b044;
}

:global(.check.icon.icon-hidden) {
  display: none;
}

:global(.ui.error.message) {
  text-align: center;
}

:global(.ui.message.login-label) {
  text-align: center;
}
