:global(.ui.grid.reset-grid) {
  height: 100vh;
  margin-top: -50px;
}
:global(.column.grid-column) {
  max-width: 400px;
}
:global(.ui.center.aligned.header.reset-header) {
  position: relative;
}
:global(.ui.form .field) {
  > label {
    text-align: left;
  }
}
