:global(.ui.grid.reset-grid) {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}
:global(.column.grid-column) {
  max-width: 400px;
}
:global(.ui.center.aligned.header.reset-header) {
  position: relative;
  margin-bottom: 0.5em;
}
:global(.ui.form .field) {
  > label {
    text-align: left;
  }
}
