:local(.header_row) {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:local(h2.ui.header) {
  margin: 0;
  > span {
    font-weight: normal;
  }
}

:global(.ui.button) {
  margin-left: 0.4em !important;
}

:global(.ui.divider):local(.divide) {
  margin: 0rem 0rem;
}

:global(.menu.transition.visible) {
  a {
    :hover {
      background-color: #0366d6;
    }
    :global(.item) {
      color: #24292e;
      :global(.text) {
        display: block;
        padding: 5px 10px;
      }
      :hover {
        color: #fff;
      }
    }
  }
}

:local(.issue_comment_wrapper) {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

:local(.issue_comment_container) {
  width: calc(100% - 50px);
  border: 1px solid lightgrey;
  border-radius: 5px;
}

:local(.issue_comment_header) {
  display: flex;
  justify-content: space-between;
  background-color: #f1f8ff;
  padding: 10px;
}

:local(.issue_comment_desc) {
  padding: 15px 10px;
}

:local(.commentEditor) {
  margin-left: 0.7em;
  margin-bottom: 0.5em;
}

:global(.ui.form) {
  flex: 1;
}

:local(.comment_author_name) {
  font-weight: bold;
  span {
    font-weight: normal;
  }
}

:local(.comment_author_avatar) {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
