.ui.grid.signup-grid {
  margin-top: 40px;
}

.ui.pointing.label.signup-pointing-label {
  margin: 0;
}

.check.icon.icon-green {
  color: #60b044;
}

.check.icon.icon-green.icon-hidden {
  display: none;
}
